html
body 
h1 Welcome to Rock, Paper, Scissors
h3 Enter your Name
form(name="input", method="post", action="/weapon")
  | Name:
  input(type="text", name="user")

  input(type="submit", value="Submit")